//  card
.card {
    border-radius: 18px;
    border: none;
    padding: 30px;
    flex: 1 0 auto;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    overflow: hidden;
    transition: all .3s cubic-bezier(0,0,.5,1);

    &.card-side-projects {
        width: 23.52941rem;
        height: 29.41176rem;
        margin-right: 20px;
        
        & .category-title {
            font-size: 0.75rem;
        }

        & img {
            margin: 0 auto;
        }

        &:hover {
            box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
            transform: scale3d(1.01, 1.01, 1.01);
        }
    }
}