body {
    font-size: 16px;
    color: $color-black;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
}

.cursor-pointer { cursor: pointer; }

//  text
.text-grey { color: $color-grey; }
.fw-ultra-bold { font-weight: 900 !important; }
.fs-title-section { font-size: 4rem; }
.fs-contact-mail { font-size: 2.5rem;}
.link-icon {
    font-size: 1.5rem;
    color: $color-black;
    &:hover {
        color: $color-grey;
    }
}
.link {
    color: $color-black;
    text-decoration: none;
    display: inline-block;position: relative;

    &:hover {
        color: $color-black;
        text-decoration: underline;
    }
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $color-black;
        transition: width 0.3s ease 0s, right 0.3s ease 0s;
    }
    &:hover::after { width: 100%; left: 0; }
}

//  background
.bg-black { background-color: $color-black; }
.bg-grey { background-color: $color-grey-background; }
.bg-icon-javascript { color: $color-javascript !important; }
.bg-icon-typescript { color: $color-typescript !important; }

//   modal
.modal-dialog {
    .modal-content {
        border: unset;

        .modal-body {
            .btn-close {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }
}
.modal-header { border-bottom: unset; }
.modal-footer { border-top: unset; }
.modal-body { padding: 76px; }
.modal-content { border-radius: 18px; }

//  badge
.badge-outline-warning {
    border: 1px solid $color-warning !important;
    background-color: transparent !important;
    color: $color-warning;
}

//  sections
#first-hello-hero {
    background: url('/background-blur-color.svg') center/90% no-repeat;
    padding: 70px 0;
}

#about-section-hero, #contact-hero {
    padding: 200px 0;
}

#side-projects-hero {
    padding: 200px 0;
    margin-right: unset;
}
#side-projects-container {
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

#contact-mail {
    content: "";
    position: absolute;
    background-image: url('/mail-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.comics:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: $color-black transparent;
    display: block;
    width: 0;
}

.app-icon {
    position: relative;
    z-index: 2;
    width: 64px;
    margin-right: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 transparent;
}