body {
    font-size: 16px;
    color: $color-black;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

.cursor-pointer { cursor: pointer; }


//  text
.text-grey { color: $color-grey; }
.fw-ultra-bold { font-weight: 900 !important; }
.fs-title-section { font-size: 4rem; }
.fs-title-mega { font-size: $font-size-title-mega !important; }
.fs-contact-mail { font-size: 2.5rem; }
.link-icon {
    font-size: 1.5rem;
    color: $color-black;
    
    &:hover {
        color: $color-grey;
    }
}
.link { @include replaceLinkUnderlineAndColor($color-black); }


//  background
.bg-black { background-color: $color-black !important; }
.bg-grey { background-color: $color-grey-background !important; }
.bg-icon-javascript { color: $color-javascript !important; }
.bg-icon-typescript { color: $color-typescript !important; }


//  navbar
.navbar-scrolled {
    border-radius: 18px;
    padding: 1.2rem;
    transition: all .5s ease-in-out;

    & .link {
       @include replaceLinkUnderlineAndColor($color-white);
    }
}
.offcanvas {
    &:is(.bg-black) .link {
        @include replaceLinkUnderlineAndColor($color-white);
    }

    .nav-item {
        padding: 10px;

        .link {
            font-size: 36px;
            color: $text-color-white;
        }
    }
}


//   modal
.modal-dialog {
    .modal-content {
        border: unset;

        .modal-body {
            .btn-close {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }
}
.modal-header { border-bottom: unset; }
.modal-footer { border-top: unset; }
.modal-body { padding: 76px; }
.modal-content { border-radius: 18px; }


//  badge
.badge-outline-warning {
    border: 1px solid $color-warning !important;
    background-color: transparent !important;
    color: $color-warning;
}


//  sections
#first-hello-hero {
    background: url('/background-blur-color.svg') center/90% no-repeat;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 78px);
    margin-top: 78px;
}

#about-section-hero, #contact-hero, #side-projects-hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

#side-projects-container {
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

#about-section-hero {
    .projects-count {
        bottom: -65px;
        right: -14px;
        font-size: 10rem;
    }
}

.sliding-container {
    width: 100%;
    padding: 100px 0;

    .loop-element {
        height: 250px;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        overflow: hidden;

        &:hover .marquee .marquee-inner {
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }

        &::before {
            content: attr(data-title);
            position: absolute;
            //  top: 1rem;
            left: 12vw;
            font-size: 1.125rem;
            text-transform: none;
            font-weight: 400;
            color: $text-color-black;
        }

        // &::after {
        //     content: "";
        //     position: absolute;
        //     left: 28px;
        //     right: 28px;
        //     bottom: 0px;
        //     height: 1px;
        //     background-color: rgba(245,238,230,.5);
        // }

        .marquee {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            overflow: hidden;
            pointer-events: none;
            height: 100%;
            display: flex;
            align-items: center;
            z-index: 11;

            .marquee-inner {
                -webkit-animation: sliding 15s linear infinite;
                animation: sliding 30s linear infinite;
                width: inherit;
                width: -moz-fit-content;
                width: fit-content;
                display: flex;
                position: relative;
                transform: translate3d(-25%, 0, 0);
                transition: opacity .1s;
                font-size: 3rem;

                span {
                    font-size: 8vw;
                    white-space: nowrap;
                    position: relative;
                    padding-left: 40px;
                    padding-right: 40px;
                    display: flex;
                    align-items: center;
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: $color-black;
                    -webkit-text-fill-color: $color-white;
                }
            }
        }
    }
}

#contact-mail {
    content: "";
    position: absolute;
    background-image: url('/mail-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.comics::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: $color-black transparent;
    display: block;
    width: 0;
}

.app-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 64px;
    height: 64px;
    margin-right: 20px;
    border-radius: 12px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}


//  about page
#wall-time-hero {
    margin-bottom: 10rem;

    .card {
        height: 500px;
        padding: 0;
        font-size: 4rem;

        img {
            object-fit: cover;
        }
    }
}

#tech-section {
    .tech-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;

        & li {
            margin-bottom: 8px;

            &::before {
                content: "▹";
                padding-right: 15px;
                color: black;
            }
        }
        
    }
}


// #navbar-logo {
//     width: 166px;

//     .dot ~ span {
//         opacity: 0;
//     }

//     &:hover span {
//         opacity: 1;
//     }
//     &:hover .dot {
//         display: none;
//     }
// }