$color-black: #191a1b;
$color-grey: #6e6e73;
$color-grey-background: #f7f7f9;
$color-warning: #bf4800;
$color-javascript: #f7df1f;
$color-typescript: #2f74c0;
$color-black-btn-hover: #383838;
$color-white: #fff;

//  text
$font-family: 'Lato', sans-serif;
$text-color-white: $color-white;
$text-color-black: $color-black; 

//  buttons
$buttonColors: $color-black;
$buttonColorsHover: $color-black-btn-hover;
$buttons: 'black';