$color-black: #222;
$color-grey: #6e6e73;
$color-warning: #bf4800;
$color-javascript: #f7df1f;
$color-typescript: #2f74c0;
$black-btn-hover: #383838;


//  buttons
//$buttonColors: $color-primary, $color-secondary, $color-warning, $color-danger, $color-gradient, $color-black, $color-grey-primary;
//$buttonColorsHover: $color-primary-hover, $color-secondary-hover, $color-warning-hover, $color-danger-hover, $color-gradient-hover, $color-black-hover, $color-grey-primary;
//$buttons: 'primary', 'secondary', 'warning', 'danger', 'gradient', 'black', 'grey';